header{
	height: 70vh;
	/*background: lightgrey;*/
}
header>h1{
	margin-top: 30vh;
}
section{
	margin-bottom: 30px;
}
#hi{
	width: 100%;
	overflow: hidden;
	white-space: nowrap;
	margin: 30vh auto 0 auto;
	animation: type 3.5s steps(20, end);
}
.desc{
	/*opacity: 0;*/
	animation: fadeIn 9s ease;
}
.myDiv{
	width: 200px;
	height: 200px;
	margin: 0 auto;
	overflow: hidden;
	border-radius: 50%;
}
.me{
	width: 100%;
	height: auto;
}
nav{
	position: fixed;
	top: 0;
	z-index: 2;
}
nav>a>div:hover{
	background: #44b73a;
}
.miniMe{
	background-image: url("../imgs/170531-GA-Headshots-0011.jpg");
	background-color: #424242;
	min-width: 10%;
	border-radius: 360px;
}
h3{
	border-left: 10px solid  #44b73a;
}
.customHover:hover{
	opacity: 0.5;
}
#Projects{
	margin-bottom: 62px;
}
#Top{
    position: relative;
    top: -100px;
}
#Bio{
	margin-bottom: 75px;
}
.work{
	box-shadow: 0px 0px 2px #808080;
}
.play{
	box-shadow: 0px 1px 2px #808080;
}
.play,.work{
	/*text-decoration: underline;*/
}
#Contact{
	margin-bottom: 30px;
}
.tinyLogos{
	width: 32%;
}

/*#p1{
	max-height: 213px;
}*/
#p1:hover{
	content:url("../imgs/SimonHex.png")
}
#p2:hover{
	content:url("../imgs/SuperImageTagger2.png")
}
#p3:hover{
	content:url("../imgs/iron-sports2.png")
}
#p4:hover{
	content: url("../imgs/ichallenge2.png");
}
.links img{
	width: 10%;
}

.gridGrid{
	display: grid;
	grid-gap: 5px;
	grid-template-columns: repeat(10,1fr);
	/*grid-template-rows: auto;*/
}
.linked{
	grid-column: 1/2;
}
.email{
	grid-column: 3/4;
}
.resume{
	grid-column: 5/6;
}
.github{
	grid-column: 7/8;
}
.codepen{
	grid-column: 9/10;
}
#list{
	font-size: 140%;
}
#codepen > img{
	background: black;
	border-radius: 360px;
}
img.minLogos{
	width: 100%;
}
#res{
	text-align: center;
}
#copy{
	font-size: 110%;
}
footer{
	color:#efefef;
	line-height: 4;
	padding: 0 1%;
}
.materialize{
	color: #efefef;
}
.materialize:hover{
	color: #44b73a;
}

@media only screen and (min-width: 600px) {
	.play{
		box-shadow: -2px 0px 0px #808080;
	}
	.work{
		box-shadow: 0px 0px 0px transparent;
	}
}

@media only screen and (max-width: 600px) {
	.gridGrid{

	}
}

@keyframes fadeIn{
	0%{
		opacity: 0;
		color: transparent;
	}
	50%{
		opacity: 0.5;
		color: #44b73a;
	}
	100%{
		opacity: 0.9;
		color: black;
	}
}
@keyframes type {
	0%{width: 0;
		border-right:2px solid #44b73a;
	}
	100%{width: 100%;
		border-right:0px solid transparent;
	}
}



