header{
	height: 70vh;
	/*background: lightgrey;*/
}
header>h1{
	margin-top: 30vh;
}
nav{
	position: fixed;
	top: 0;
	z-index: 2;
}
nav>a>div:hover{
	background: #44b73a;
}
.miniMe{
	background-image: url("../imgs/170531-GA-Headshots-0011.jpg");
	background-color: #424242;
	min-width: 10%;
	border-radius: 360px;
	/*overflow: hidden;*/
}
h3{
	border-left: 10px solid  #44b73a;
}
.customHover:hover{
	opacity: 0.5;
}
#Projects{
	margin-bottom: 62px;
}
#Top{
    position: relative;
    top: -100px;
}
#Bio{
	margin-bottom: 75px;
}
#Contact{
	margin-bottom: 30px;
}
.tinyLogos{
	width: 32%;
}
.vertDivider{
	width: 1px;
	height: 100%;
	background: black;
}
/*#p1{
	max-height: 213px;
}*/
#p1:hover{
	content:url("../imgs/SimonHex.png")
}
#p2:hover{
	content:url("../imgs/SuperImageTagger2.png")
}
#p3:hover{
	content:url("../imgs/iron-sports2.png")
}
.links img{
	width: 10%;
}
#list{
	font-size: 120%;
}
#codepen > img{
	background: black;
	border-radius: 360px;
}
img.minLogos{
	width: 100%;
}
#res{
	text-align: center;
}
#copy{
	font-size: 110%;
}
footer{
	color:#efefef;
	line-height: 4;
	padding: 0 1%;
}
.materialize{
	color: #efefef;
}
.materialize:hover{
	color: #44b73a;
}


