*{ 
	box-sizing: border-box;
	padding: 0;
	margin: 0;
 }
body{
	background: grey;
	max-width: 960px;
	margin: 0 auto;
}
div{
	width: 100%;
	height: 100%;
	border:1px solid green;
}
#grid-container{
	margin: 0 auto;
	height: 100vh;
	display: grid;
	grid-gap: 5px;
	grid-template-columns: 20% 20% 20% 20% 20%;
	grid-template-rows: 50% 50%;
}
header{
	grid-column:1/5;
	grid-row:1;
	border:1px solid lightblue;
	background-image: : url(imgs/bbq.jpeg);
	background-size: 100% 100%;
}
aside{
	grid-column:5/6;
	grid-row:1;
	border:1px solid pink;
}
section{
	grid-column:1/3;
	grid-row:2;
	border:1px solid red;
}
main{
	grid-column:3/6;
	grid-row:2;
	border:1px solid gold;
}
ul{
	list-style: none;
	text-decoration: none;
}
.smGrid{
	display: grid;
	grid-gap:2%;
	grid-template-columns: 32% 32% 32%;
	grid-template-rows: 49% 49%;
	grid-template-areas: "itemZ itemOne itemTwo"
						 "itemThree itemFour itemFive";
}
#p0{ grid-area: itemZ; }
#p1{ grid-area: itemOne; }
#p2{ grid-area: itemTwo; }
#p3{ grid-area: itemThree; }
#p4{ grid-area: itemFour; }
#p5{ grid-area: itemFive; }
