header{
	height: 70vh;
	/*background: lightgrey;*/
}
header>h1{
	margin-top: 30vh;
}
nav{
	position: fixed;
	top: 0;
	z-index: 2;
}
nav>a>div:hover{
	background: #44b73a;
}
.customHover:hover{
	opacity: 0.5;
}
.btn-flat,a.btn-flat{
	text-decoration: none;
	color: #44b73a;
}
#Projects{
	margin-bottom: 62px;
}
#Top{
    position: relative;
    top: -100px;
}
#Bio{
	margin-bottom: 50px;
}
/*#p1{
	max-height: 213px;
}*/
#p1:hover{
	content:url("../imgs/SimonHex.png")
}
/*#p2:hover{
	content:url("../imgs/SimonHex.png")
}
#p3:hover{
	content:url("../imgs/SimonHex.png")
}*/
.links img{
	width: 10%;
}
#codepen > img{
	background: black;
	border-radius: 360px;
}




