*{ 
	box-sizing: border-box;
	padding: 0;
	margin: 0;
 }
body{
	background-image: url(../imgs/tx.jpg);
	background-size: 100% 100%;
	max-width: 960px;
	margin: 0 auto;
}
.bg{
	background: rgba(1,1,1,0.5);
}
#grid-container{
	margin: 0 auto;
	height: 100vh;
	display: grid;
	grid-gap: 0px;
	grid-template-columns: 20% 20% 20% 20% 20%;
	grid-template-rows: 50% 50%;
}
header{
	grid-column:1/5;
	grid-row:1;
	border:1px solid lightblue;
	display: flex;
	justify-content: space-around;
	align-items: center;
}
header>img{
	width: 25%;
	height: 175px;
	float: left;
}
.me{
	width: 40%;
	/*height: 200px;*/
	text-align: center;
	color: rgb(255,255,255);
	text-shadow: 1px 1px 0px rgb(0,0,0),-1px -1px 2px rgb(0,0,0);
	letter-spacing: 1px;
	float: right;
}
aside{
	grid-column:5/6;
	grid-row:1;
	border:1px solid pink;
}
section{
	grid-column:1/3;
	grid-row:2;
	border:1px solid red;
}
main{
	grid-column:3/6;
	grid-row:2;
	border:1px solid gold;
}
ul{
	list-style: none;
	text-decoration: none;
	height: 100%;
}
li img{
	width: 50px;
	height: 50px;
}
#logoLinks{
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	align-items: center;
}
.smGrid{
	padding: 2px;
	display: grid;
	grid-gap:2%;
	grid-template-columns: 32% 32% 32%;
	grid-template-rows: 49% 49%;
	grid-template-areas: "itemZ itemOne itemTwo"
						 "itemThree itemFour itemFive";
}
#p0{ grid-area: itemZ; }
#p1{ grid-area: itemOne; }
#p2{ grid-area: itemTwo; }
#p3{ grid-area: itemThree; }
#p4{ grid-area: itemFour; }
#p5{ grid-area: itemFive; }
div.smGrid{
	width: 100%;
	height: 100%;
}
.smGrid div{ border:1px solid green; }
@media screen and (max-width: 500px){
	body{
		margin-top: 28px;
		background: grey;
	}
	#grid-container{
		width: 100vw;
		height: 300vh;
		display: flex;
		flex-direction: column;
		/*justify-content: space-around;*/
		align-items: center;
		}
	header,main,section,aside{
		width:100%;
	}
	header{
		order: 1;
		height: 200px;
	}
	aside{
		order: 2;
	}
	main{
		order: 3;
		height: 575px;
	}
	section{
		order: 4;
		/*height: 400px;*/
	}
	#logoLinks{
		padding: 7px 0;
		display: flex;
		flex-direction: row;
		justify-content: space-around;
		align-items: center;
	}
	.smGrid{
		margin:0 auto;
		display: grid;
		grid-gap: 0px;
		grid-template-columns: 3% 45.5% 3% 45.5% 3%;
		grid-template-areas: ". cOne . cTwo ."
							 ". cThree . cFour ."
							 ". cFive . cSix .";
	}
	#p0{ grid-area: cOne; }
	#p1{ grid-area: cTwo; }
	#p2{ grid-area: cThree; }
	#p3{ grid-area: cFour; }
	#p4{ grid-area: cFive; }
	#p5{ grid-area: cSix; }
	.portItems{
		height: 255px;
	}
}

